{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'accounts/images/Chat.ico' %}" />
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'accounts/css/styles.css' %}"
    />
    <script src="{% static 'accounts/js/jquery-3.6.1.min.js' %}"></script>
    <script type="module" src="{% static 'accounts/js/scripts.js' %}"></script>
    <script src="https://use.fontawesome.com/80976cfcfc.js"></script>
    <title>ChatBox</title>
  </head>
  <body>
    {% block body %}{% endblock body %}
  </body>
</html>
