{% extends 'accounts/base.html' %} {% block title %}Register{% endblock title %}
{% block body %}
<form action="{% url 'accounts:register' %}" method="post">
  {% csrf_token %}
  <label for="username">Username:</label
  ><input type="text" name="username" id="username" />
  <label for="email">Email:</label
  ><input type="email" name="email" id="email" />
  <label for="first_name">First Name:</label
  ><input type="txt" name="first_name" id="first_name" />
  <label for="last_name">Last Name:</label
  ><input type="txt" name="last_name" id="last_name" />
  <label for="password">Password:</label
  ><input type="password" name="password" id="password" />
  <label for="password2">Confirm Password:</label
  ><input type="password" name="password2" id="password2" />
  <button type="submit">Sign Up</button>
</form>
{% endblock body %}
